﻿<!DOCTYPE html>
<html lang="en">
<head>

@{
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MerchShop.styles.css" asp-append-version="true" />
}

</head>
<body>
    <div class="container my-auto border border-1 border-white bg-body-tertiary">
        <div class="row bg-black">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Merch" asp-action="Create">Enter an Item</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" asp-controller="Vendors" asp-action="Create">Add a Vendor</a>
                </li>                
                <li class="nav-item ">
                    <a class="nav-link" asp-controller="Merch" asp-action="List">Back to Merch List</a>
                </li>
            </ul>
        </div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>