@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row text-center">
        <h3>Welcome to The Merch Shop!</h3>
    </div>
    <div class="row border border-black justify-content-center mt-3">
        <img src="/images/merchshop.jpg" class="img-fluid" alt="Merch">     
    </div>
</div>
